@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(322, 100%, 66%);
  --clr-secondary-1: hsl(193, 100%, 96%);
  --clr-secondary-2: hsl(192, 100%, 9%);
  --clr-secondary-3: hsl(208, 11%, 55%);
  --clr-secondary-4: hsl(322, 77%, 79%);
  --ff-white: #fff;
  --f-size: 18px;
  --ff-primary: "Poppins", sans-serif;
  --ff-primary-1: "Open Sans", sans-serif;
  --transition: all 0.2s linear;
}
body {
  overflow-x: hidden;
}
.head-hero {
  height: 100vh;
  min-height: 95vw;
  background: url("./images/bg-hero-mobile.svg") center/cover no-repeat;
  background-color: var(--clr-secondary-1);
  overflow-x: hidden;
}

/* navbar */
.nav {
  padding: 2rem 1rem;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-one {
  height: 1rem;
}

.nav-mode {
  background: var(--ff-white);
  width: 8rem;
  text-transform: capitalize;
  height: 2rem;
  text-align: center;
  display: grid;
  align-items: center;
  font-size: 1rem;
  color: var(--clr-secondary-2);
  border-radius: 1.5rem;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: var(--ff-primary);
}
.nav-mode:hover {
  color: var(--clr-secondary-3);
  transition: var(--transition);
}
/* end of navbar */
/* hero-page */
.hero {
  margin-top: 1rem;
  padding: 0rem 3rem;
}
.hero-one {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.hero-width {
  margin-bottom: 1.5rem;
  text-align: center;
  max-width: 23rem;
  margin-right: auto;
  margin-left: auto;
}
.title-hero {
  color: var(--clr-secondary-2);
  font-size: 1.3rem;
  text-transform: capitalize;
  line-height: 1.2;
  font-family: var(--ff-primary);
}
.para-one {
  color: var(--clr-secondary-2);
  line-height: 1.2;
  font-size: 1rem;
  font-family: var(--ff-primary-1);
  font-weight: 400;
}
.hero-button {
  color: var(--ff-white);
  background-color: var(--clr-primary);
  width: 14rem;
  height: 2.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 0.75rem;
}
.hero-button:hover {
  background: var(--clr-secondary-4);
}
.hero-image {
  width: 20rem;
  height: 13rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.image-one {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .head-hero {
    min-height: 100vh;
    min-width: 90vw;
  }
  .hero {
    display: flex;
    column-gap: 4rem;
    align-items: center;
    justify-content: space-between;
    min-height: 75vh;
  }
  .hero-width {
    width: 100%;
    max-width: 25rem;
  }
  .hero-image {
    width: 100%;
    height: 25rem;
  }
}
@media screen and (min-width: 1170px) {
  .head-hero {
    min-height: 100vh;
  }
  .hero {
    display: flex;
    /* column-gap: 2rem; */
    align-items: center;
    justify-content: space-around;
    min-height: 70vh;
  }
  .hero-image {
    height: 30rem;
  }
}
/* end of hero-page */
/* main page */
.main {
  min-height: 120vh;
  background: var(--ff-white);
}
.section {
  min-width: 95vw;
  overflow-x: hidden;
  padding: 5rem 1rem;
  height: 100%;
}
.sec-card {
  width: 22rem;
  height: 32rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  /* border: 2px solid red; */
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  padding: 2rem 2rem;
}
.sec-image {
  width: 100%;
  height: 60%;
}
.image-two {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sec-info {
  margin-top: 2rem;
}
.sec-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--clr-secondary-2);
  text-transform: capitalize;
  font-family: var(--ff-primary);
}
.para-two {
  color: var(--clr-secondary-3);
  text-align: center;
  font-family: var(--ff-primary-1);
  font-weight: 400;
  font-size: 0.9rem;
}
@media screen and (max-width: 375px) {
  .sec-card {
    width: 85%;
  }
  .sec-image {
    width: 100%;
    padding: 2rem 0rem;
  }
  .image-two {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
  }
  .hero-image {
    width: 16rem;
  }
  .hero-two {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .sec-card {
    width: 90%;
    padding: 1rem;
    height: 35rem;
  }
  .hero-width {
    width: 17rem;
  }
  .hero-image {
    width: 15rem;
  }
}
@media screen and (min-width: 768px) {
  .sec-card {
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
    height: 20rem;
    padding: 0 2rem;
    padding-left: 4rem;
  }
  .card-row {
    flex-direction: row-reverse;
  }
  .sec-info {
    margin-top: 0;
  }
  .para-two {
    text-align: left;
  }
}
@media screen and (min-width: 1170px) {
  .sec-card {
    width: 50rem;
  }
}
/* end of main page */
/* footer page */
.footer {
  background: var(--clr-secondary-2);
  /* min-height: 90vh; */
  padding: 3rem 2rem;
  padding-top: 9rem;
  position: relative;
  /* display: flex; */
}
.footer p {
  color: var(--clr-secondary-3);
  font-family: var(--ff-primary-1);
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1.3;
}
.footer-info {
  background: var(--ff-white);
  width: 70%;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--clr-secondary-2);
  text-transform: capitalize;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  font-family: var(--ff-primary);
}
.image-three {
  color: white;
  background: white;
  height: 1.5rem;
}
.footer-info h4 {
  text-align: center;
}
.foot-but {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.footer-div {
  display: grid;
  row-gap: 1rem;
}
.foot-contacts {
  display: flex;
  column-gap: 1rem;
  margin-top: 1.5rem;
  /* border: 2px solid red; */
  max-width: 20rem;
  align-items: flex-start;
}
.foot-image {
  color: white;
}
.foot {
  margin-bottom: 0.75rem;
}
.foot-icons {
  height: 1rem;
}
.foot-text {
  line-height: 1.2;
  padding: 0;
}
.foot-text-one {
  margin-bottom: 0.75rem;
  text-transform: capitalize;
}
.foot-small {
  margin-top: -2rem;
}

.social-icons {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
.social {
  display: flex;
  column-gap: 0.75rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.social-border {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
.icon {
  height: 50%;
  width: 100%;
}
.copyright {
  text-transform: capitalize;
  text-align: center;
  font-size: 12px;
}
.copy {
  text-transform: lowercase;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3rem 4rem;
  }
  .footer-div {
    display: flex;
    column-gap: 4rem;
    justify-content: left;
    align-items: center;
    padding-top: 7rem;
  }
  .copyright {
    text-align: right;
  }
  .foot-div {
    max-width: 60rem;
  }
  .footer-info {
    width: 20rem;
  }
}
/* End of footer page */
